@import url('https://fonts.googleapis.com/css?family=Varela');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body{
	margin: 0;
}

/*INICIA CONTENEDOR*/
.contenedor{
	background-image: url('../img/nav.jpg');
	background-size: cover;
	height: 90vh;
	
}
/*FINALIZA CONTENEDOR*/


/*INICIA MENU*/

.menuPrincipal{
	background: #009688;
	padding: 1px 200px;
}

.menu ul{
	display: flex;
	justify-content:flex-end;
	flex-direction: row;

	
}
.menu li{
	list-style: none;
	display: flex;
	align-items: center;
	
}
.menu li a{
	text-decoration: none;
	padding: .5em 1em;
	font-size: 24px;
	color: white;
}

.menu li a:hover{
	text-transform: uppercase;
	border-bottom:  white 2px solid;
	
}

.menuSecundario{
	position: absolute;
	display: flex;
	align-items: center;
	color: white;
}
/*FINALIZA MENU*/

/*INICIA TEXTO PRINCIPAL*/
.titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: white;

}

.bienvenido{
	font-size: 70px;
}

.titulo p{
	text-align: center;
	padding-top: 3px;
	font-size: 30px;
	color: white;
	padding-top: 30px;
}

.tituloPrincipal h3{
	text-align: center;
	font-size: 70px;
	color: #48cfc1;	
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	margin: 0;
	padding-top: 120px;
}
/*FINALIZA TEXTO PRINCIPAL*/

/*INICIA WELCOME PRINCIPAL*/
.welcomePrincipal {
	text-align: center;
	
}

.welcomePrincipal h4{
	color: #0a9dbd;
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.welcomePrincipal p{
	color: #999;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	
}
/*FINALIZA WELCOME PRINCIPAL*/


/*EMPIEZA WELCOME */

.welcome{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	height: 63vh;
	margin: 0;
}

.welcome h4{
	font-size: 28px;
	letter-spacing: 2px;
	margin: 1em 0;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	
}
.textQ{
	color: #999;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}


.question:hover{
	box-shadow: 1px 4px 18px 1px #adadad;
	padding: .8em;
}
/*FINALIZA  WELCOM*/

/*EMPIEZA valores */
.valores{
	display: grid;
	background: #00a78e;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.valores1{
	display: flex;
	align-items: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	
}
.valores1 img{
	width: 100%;
	height: 100%;
}
.valores2 img{
	width: 100%;
	height: 100%;
}
.valores3{
	background: #00a78e;
	color: white;
	font-size: 14px;
	line-height: 2em;
	margin: 2em 0 2em;
	text-align: center;
}
.valores3 h3{
	font-size: 35px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.valores3 p{
	font-size: 20px;
	
	font-family: 'Open Sans', sans-serif;


}
.valores4{
	background: #00a78e;
	text-align: center;
	color: white;
}

.valores4 h3{
	padding:  12px;
	font-size: 35px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.valores4 p{
	font-size: 20px;
	
	font-family: 'Open Sans', sans-serif;


}
.valores5 img{
	width: 100%;
	height: 100%;
}

h5{
	position: absolute;
}


/*FINALIZA  valores*/





