@import url('https://fonts.googleapis.com/css?family=Varela');
*{
    font-family: 'Varela';
}

body{
    font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  }
  #testimonial{
    background: #f1f1f1;
    color: #00a78e;
    padding: 50px 0 30px 0;
    text-align: left;
    margin-top: 40px;
  }
  #col-md-6{
    text-align: left;
  }
  
.footer{
    background: #00a78e;
}

logotipo{
    display: inline-block;
    margin-left: 0;
}

.contacto{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
}
.contacto img{
    display: block;
}
.contacto strong{
    display: block;
}
.contacto a{
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0;
}

.footer .contenedor{
    display: flex;
    justify-content: space-between;
    
}
.intereses label{
    font-size: 12px;
}

.formulario{
    display: flex;
    width: 400px;
    color: white;
    padding: 50px 10px;
}


.col1, .col2{
display: flex;
flex-direction: column;
}

.col1{
    margin-right: 15px;
}
.col2{
    align-items: flex-start;
}

.formulario label, .sexo, .intereses{
    margin-bottom: 5px;
}
.sexo{
    margin-top: 10px;
}